<! DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <p>Je gebt een email ontvangen van de FreelancePlaats website</p>
        <p>Van: <%= "#{ @name}, #{@email}." %></p>
        <p><%= @body %></p>
    </body>
</html>